[submodule "outpost-core"]
	path = outpost-core
	url = git@github.com:thesummer/outpost-core.git
[submodule "scons-build-tools"]
	path = scons-build-tools
	url = git@github.com:thesummer/scons-build-tools.git
